p{ 
color:#49af1959; 
font-size:30px; 
}

body{
    color:rgb(102, 99, 96)
}

#personalizado {
    color: salmon;
    font-size: x-large;
    font-style: italic;
    margin: red;
    margin-top: 5%;
    padding-left: 10mm;
}
.class-1{
    color: rgb(42, 170, 132);
}